<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>

	<section name="licenseInfo" type="System.Configuration.AppSettingsSection, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>

  </configSections>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>

  

  <appSettings>

	<add key="UseSSL" value="false"/>
	<add key="UseLicense" value="true"/>
	<add key="TtsServiceBaseUrl" value="http://localhost:40000/v1/speech/synthesis"/>
	<add key="TtsServiceSSLBaseUrl" value="https://localhost:45000/v1/speech/synthesis"/>
	<add key="VoicesRoute" value="voices"/>
	<add key="TtsRoute" value="tts"/>

  </appSettings>

  <licenseInfo>

	<add key="ProjectId" value="ProjectId"/>
	<add key="ProductCode" value="ProductCode"/>
	<add key="ApiUsername" value="ApiUsername"/>
	<add key="ApiPassword" value="ApiPassword"/>
	<add key="CustomerCode" value="CustomerCode"/>

  </licenseInfo>





</configuration>
